<!--div class="item centered">
  <div class="head">
    <div class="left-column"></div>
    <div class="center-column">
      <span class="bar"></span>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="content">
    <div class="left-column"></div>
    <div class="center-column">
      <p>Thanks to <a target="_blank" href="http://vizzuality.com" class="vizzuality">Vizzuality</a> I started <strong><%= first.from %></strong> on this circus. If you want to know more about me, you should move around here...</p>
      <ul class="social">
        <% for (var i in social) { %>
          <li>
            <a target="_blank" href="<%= social[i] %>" class="<%= i %>" title="<%= i %>">
              <i class="icon fa fa-<%= i %>"></i>
            </a>
          </li>
        <% } %>
      </ul>
      <span class="bar dotted"></span>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="foot"></div>
</div-->