<div class="item">
  <div class="<%= pos % 2 == 0 ? "right" : "left" %>-column preview"></div>
  <div class="<%= pos % 2 == 0 ? "left" : "right" %>-column info">
    <span class="date"><%= date %></span>
    <h3><a href="<%= url %>"><%= title %></a></h3>
    <p class="excerpt"><%= excerpt %></p>
  </div>
</div>