<!--div class="item centered">
  <div class="head">
    <div class="left-column"></div>
    <div class="center-column">
      <span class="bar circle"></span>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="content">
    <div class="left-column"></div>
    <div class="center-column">
      <p>Currently working at <a target="_blank" href="<%= now['company'].url %>" class="<%= now['company'].name.toLowerCase() %>"><%= now['company'].name %></a> as <%= now['position'].name %>, based in <a target="_blank" href="http://maps.google.com/?q=<%= now['company'].location %>"><%= now['company'].location %></a>. Pushing hard on <a target="_blank" href="<%= now['current_project'].url %>" class="<%= now['current_project'].name.toLowerCase() %>"><%= now['current_project'].name %></a> project...</p>
      <span class="bar dotted"></span>
    </div>
    <div class="right-column"></div>
  </div>

  <div class="foot">
    <div class="left-column"></div>
    <div class="center-column">
      <span class="bar"></span>
    </div>
    <div class="right-column"></div>
  </div>
</div-->